<!-- Meta -->
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="naver-site-verification" content="215d6c16b4b70b8a564054152ef3f3f942f8a343" />
<meta name="google-site-verification" content="9LXizf1J2wOGhH4MyST_kM63X7LdgmCiTbtJ7ejgKPg" />

<meta property="og:type" content="website">
<meta property="og:title" content="빵스컴퍼니">
<meta property="og:description" content="온라인 통합 마케팅, 빵스컴퍼니 홈페이지">
<meta property="og:url" content="http://www.bbangsco.co.kr">

<link rel="canonical" href="http://www.bbangsco.co.kr">

<!-- Favicons -->
<link rel="icon" th:href="@{/img/logo.png}" />
<link rel="apple-touch-icon" th:href="@{/assets/img/apple-touch-icon.png}" />

<!-- Custom fonts for this template-->
<link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">

<!-- Custom styles for this template-->
<link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">

