<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>빵스컴퍼니</h3>
                        <p>
                            경기 광명시 일직로72<br>
                            국제무역센터 c동 812호<br><br>
                            <strong>Phone : </strong>070 - 7724 - 2657<br>
                            <strong>Email : </strong>bbangs_blog@naver.com<br>
                            <strong>사업자 등록번호 : </strong>728 - 25 - 00964<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="https://www.instagram.com/saerin_bb/" class="instagram"><i class="bx bxl-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>회사소개</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/about">인사말</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>온라인마케팅</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/onlineMarketing#content_2">인플루언서 체험단</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/onlineMarketing#content_3">상위 노출</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/onlineMarketing#content_4">공식채널 운영</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/onlineMarketing#content_5">스폰서 광고</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/onlineMarketing#content_6">언론사 노출</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/onlineMarketing#content_7">지식인</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/onlineMarketing#content_8">네이버 플랫폼 제작</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>오프라인 마케팅</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/offlineMarketing#content_1">옥외광고</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/offlineMarketing#content_2">마케팅 강의</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>브랜드 마케팅</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/brandMarketing#content_1">브랜드 기획</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/brandMarketing#content_2">홈페이지 제작</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/brandMarketing#content_3">상세페이지 제작</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/brandMarketing#content_4">제품 촬영</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>BangsCompany</span></strong>. All Rights Reserved
        </div>
    </div>
</footer><!-- End Footer -->