<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="/">빵스컴퍼니</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/" class="active">홈</a></li>
                <li><a href="/about">회사소개</a></li>
                <li><a href="/onlineMarketing">온라인 마케팅</a></li>
                <li><a href="/offlineMarketing">오프라인 마케팅</a></li>
                <li><a href="/brandMarketing">브랜드 마케팅</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->