<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="/bangsCompany/main">빵스컴퍼니</a></h1>

        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="mainTemplate.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li class="dropdown"><a href="#"><span>회사소개</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/bangsCompany/about">인사말</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#"><span>온라인마케팅</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/onlineMarketing/main">온라인마케팅</a></li>
                        <li><a href="/onlineMarketing/reviewViral">리뷰바이럴(SNS)</a></li>
                        <li><a href="/onlineMarketing/snsManager">SNS 제작 및 운영</a></li>
                        <li><a href="/onlineMarketing/powerPage">파워페이지 광고</a></li>
                        <li><a href="/onlineMarketing/snsLecture">SNS 강의</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#"><span>기타 마케팅</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="about.html">부가서비스</a></li>
                        <li><a href="about.html">언론 기사송출</a></li>
                        <li><a href="about.html">사진 촬영</a></li>
                        <li><a href="about.html">지동 등록(무료)</a></li>
                    </ul>
                </li>

                <li><a href="blog.html">운영 팁</a></li>

                <li class="dropdown"><a href="#"><span>제안서 받기</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="about.html">가게 마케팅</a></li>
                        <li><a href="about.html">상품 마케팅</a></li>
                        <li><a href="about.html">기타 마케팅</a></li>
                    </ul>
                </li>

        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->