<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="common/admin_layout">
<head>
    <title>ADMIN</title>
    <th:block layout:fragment="css">

        <!-- Custom styles for this page -->
        <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
        <style>
        </style>
    </th:block>
</head>

<body id="page-top">
<th:block layout:fragment="content">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Side bar -->
        <div th:replace="common/admin_sidebar :: sidebar"/>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mt-5 text-gray-800">메인 이미지 목록</h1>
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">메인 이미지 리스트</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>이미지명</th>
                                        <th>구분</th>
                                        <th>링크</th>
                                        <th>등록일</th>
                                        <th>파일명</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="image : ${images}">
                                        <td th:text="${image.id}"></td>
                                        <td th:text="${image.title}"></td>
                                        <td th:text="${image.channelName}"></td>
                                        <td th:text="${image.link}"></td>
                                        <td th:text="${image.createDate}"></td>
                                        <td th:text="${image.imgPath}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

</th:block>
<th:block layout:fragment="js">

    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>

</th:block>


</body>
</html>