<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="common/layout">
<head>
    <title>온라인 통합 마케팅 NO.1</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
    <th:block layout:fragment="content">
        <!-- ======= Hero Section ======= -->
        <section id="">

<!--            <div class="container">-->
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="/img/main_slides_2.jpg">
                    </div>
                </div>
<!--            </div>-->

        </section>



<!--        <section id="hero">-->
<!--            <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">-->

<!--                <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>-->

<!--                <div class="carousel-inner" role="listbox">-->

<!--                    &lt;!&ndash; Slide 1 &ndash;&gt;-->
<!--                    <div class="carousel-item active" style="background-image: url(/img/main_slides_2.jpg)">-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Slide 2 &ndash;&gt;-->
<!--                    <div class="carousel-item" style="background-image: url(/img/main_slides_1.jpg)">-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Slide 2 &ndash;&gt;-->
<!--                    <div class="carousel-item" style="background-image: url(/img/main_slides_2.jpg)">-->
<!--                        <div class="carousel-container">-->
<!--                            <div class="container">-->
<!--                                <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>-->
<!--                                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>-->
<!--                                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->

<!--                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">-->
<!--                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>-->
<!--                </a>-->

<!--                <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">-->
<!--                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>-->
<!--                </a>-->

<!--            </div>-->
<!--        </section>&lt;!&ndash; End Hero &ndash;&gt;-->

        <main id="main">

            <section id="about" class="about">
                <div class="container">
                    <div class="row content justify-content-center">
                        <div class="col-12" style="text-align: center;">
                            <img class="img-fluid" src="/img/main content.png">
                        </div>
                    </div>

                    <div class="row content justify-content-center" id="about_img">
                        <div class="col-12">
                            <img src="/img/main_img_1.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </section><!-- End About Section -->

            <section id="about_2" class="about mt-5">
                <div class="container">
                    <div class="row content justify-content-center align-items-center">

                        <div class="col-12 col-lg-6">
                            <img src="/img/main_img_2.png" class="img-fluid" alt="">
                        </div>

                        <div class="col-12 col-lg-6">
                            <h3 style="margin-left:60px;">
                                사장님이 몰랐던<br>
                                사장님 가게의 특별함,
                            </h3>
                            <br>
                            <p style="margin-left:60px;">
                                모두가 똑같은 홍보마케팅을<br>
                                할 필요는 없습니다.<br><br>
                                특별함만 쏙쏙 골라낸 맞춤 컨설팅으로<br>
                                내 브랜드, 내 가게에 적합한 홍보를 해드립니다
                            </p>
                        </div>
                    </div>
                </div>
            </section><!-- End About Section -->

            <section id="portfolio" class="portfolio">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active">전체</li>
                                <li data-filter=".filter-blog">블로그</li>
                                <li data-filter=".filter-instagram">인스타그램</li>
                                <li data-filter=".filter-youtube">유튜브</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row portfolio-container">


                        <div th:each="picture : ${pictures}" class="col-lg-4 col-md-6 col-sm-6 col-4 portfolio-item" th:classappend="${picture.division}">

                            <div th:classappend="${picture.division}">
                                <div class="portfolio-wrap">
                                    <img th:src="${picture.imgPath}" class="img-fluid" alt="">
                                    <div class="portfolio-info">
                                        <h4 th:text="${picture.channelName}">채널명</h4>
                                        <p th:text="${picture.name}">제목명</p>
                                        <div class="portfolio-links">
                                            <a th:href="${picture.link}" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details">
                                                <i class="bx bx-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </section>

            <!-- ======= Contact Section ======= -->
            <section id="contact" class="contact">
                <div class="container">

                    <div>
                        <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.7205189005804!2d126.88721031529568!3d37.420080279825605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b6134c7c190c9%3A0x1858f06f236b877f!2z6rSR66qF6rWt7KCc66y07Jet7IS87YSw!5e0!3m2!1sko!2skr!4v1637068739771!5m2!1sko!2skr" frameborder="0" allowfullscreen></iframe>
                    </div>

                    <div class="row mt-5">

                        <div class="col-lg-4">
                            <div class="info">
                                <div class="address">
                                    <i class="bi bi-geo-alt"></i>
                                    <h4>위치:</h4>
                                    <p>경기도 광명시 일직로 72 광명국제무역센터 c동 812호</p>
                                </div>

                                <div class="email">
                                    <i class="bi bi-envelope"></i>
                                    <h4>이메일:</h4>
                                    <p>bbangs_blog@naver.com</p>
                                </div>

                                <div class="phone">
                                    <i class="bi bi-phone"></i>
                                    <h4>전화번호:</h4>
                                    <p>010 - 9309 - 2657</p>
                                </div>

                            </div>

                        </div>

                        <div class="col-lg-8 mt-5 mt-lg-0">

                            <div class="">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="이름" required>
                                    </div>
                                    <div class="col-md-6 form-group mt-3 mt-md-0">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="이메일" required>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="제목" required>
                                </div>
                                <div class="form-group mt-3">
                                    <textarea class="form-control" name="message" rows="5" placeholder="문의내용" required></textarea>
                                </div>
                                <div class="my-3">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>
                                </div>
                                <div class="text-center"><button id="btn_contactUs">문의하기</button></div>
                            </div>

                        </div>

                    </div>

                </div>
            </section><!-- End Contact Section -->

        </main><!-- End #main -->
    </th:block>


    <th:block layout:fragment="js">
        <script th:src="@{/js/main.js}"></script>
    </th:block>

</body>
</html>