<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="common/layout">
<head>
    <title>온라인 통합 마케팅</title>
    <link rel="stylesheet" th:href="@{/css/about.css}" />
</head>

<body>
    <th:block layout:fragment="content">

        <main id="main">

            <!-- ======= Breadcrumbs ======= -->
            <section id="breadcrumbs" class="breadcrumbs">
                <div class="container">

                    <div class="d-flex justify-content-between align-items-center">
                        <h2>인사말</h2>
                        <ol>
                            <li><a href="/bangsCompany/main">메인화면</a></li>
                            <li>회사소개</li>
                            <li>인사말</li>
                        </ol>
                    </div>

                </div>
            </section><!-- End Breadcrumbs -->

            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                <div class="container">

                    <div class="row content">
                        <div class="col-lg-6 d-flex align-items-center justify-content-center">
                            <img src="/img/logo.png">
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0">
                            <h3>
                                안녕하세요!<br>
                                "빵빵 터지고, 스페셜한" 빵스컴퍼니 입니다.
                            </h3>
                            <p>
                                <br>
                                저희 빵스컴퍼니(BANG's Company)는<br>
                                국내 유일 인플루언서가 직접 운영 및 실행하여<br>
                                믿음 가는 태도로 필요한 것들을 만들어내는 온라인 통합 마케팅 회사입니다.<br>
                                <br>
                                빵스컴퍼니와 다채로운 온라인 세계를 경험하세요!<br>
                                <br>
                                감사합니다.<br>
                                빵스컴퍼니 전직원 일동.
                            </p>
                        </div>
                    </div>

                </div>
            </section><!-- End About Section -->

            <!-- ======= Clients Section ======= -->
            <section id="clients" class="clients section-bg">
                <div class="container">

                    <div class="row">

                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="/assets/img/clients/client-1.png" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="/assets/img/clients/client-2.png" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="/assets/img/clients/client-3.png" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="/assets/img/clients/client-4.png" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="/assets/img/clients/client-5.png" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                            <img src="/assets/img/clients/client-6.png" class="img-fluid" alt="">
                        </div>

                    </div>

                </div>
            </section><!-- End Clients Section -->

        </main><!-- End #main -->

    </th:block>
</body>
</html>